$('.delete-competition').bind('ajax:success', function() {  
  $(this).closest('.row').fadeOut();
  console.log("Success")
  $(".alert").remove();
  var success = '<div class="alert alert-success alert-dismissible show" role="alert" style="width:50%;margin-left:auto;margin-right:auto;margin-bottom:2%;">Competition successfully deleted!</div>'
  $(success).insertAfter('.title');
});