<%= stylesheet_link_tag params[:controller] %>
<% content_for :head do %>
<% end %>

<div class="container-fluid float-left">
    <h2 class="competition-title"><%=@competition.title%></h2>
</div>

<!-- <div id="addCompetition" class="footer">
    <button class="linkButton">
        <%= link_to "Add Competition", new_competition_path %>
    </button>
    <button class="linkButton">
        <%= link_to "Edit Competitions", list_competition_path %>
    </button>    
</div>
 -->