/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.title{
	text-align: center;
}

#box{
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;

}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
  width: 100%;
  background-color: #ececec;
}

[class*="col-"] {
  padding: 1%;
  /*background-color: #eee;*/
  /*background-color: rgba(86,61,124,.15);*/
  /*border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);*/
  text-align: center;
}

.edit-item{
  padding: 1%;
  /*background-color: #eee;*/
  /*background-color: rgba(86,61,124,.15);*/
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
}

.submit-form{
	background-color: #72c02c;
	border-style: none;
	border-radius: 5px;
	padding: 2%;
}

.footer{
	padding: 1%;
}

.footer-button{
	margin: 0.5%;
}

.center-field{
	
}

.competition-form{
	width: 40%;
	margin: auto;
}

html{

	overflow-x: hidden;

}

/*textarea{
	height: 40%;
}*/

label{
	text-align: center;
	margin: 0.5%;
	color: #72c02c;
}

.alert{
	padding: 1%;
	text-align: center;
}

.competition-container{
	margin: 2%;
	padding: 2%;
	display: table-cell;
	border-spacing: 0.5em 0.5em;
}

#competition{
	margin: 0.5%;
	background-color: rgb(133, 249, 94);
	width: 30%;
	overflow: hidden;
	display: inline-block;
	height: 20em;
}

#addCompetition{
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	margin: 1%;
}

.linkButton{
	background-color: #72c02c;
	border-radius: 8px;
	border: none;
	padding: 1.5%;
	font-size: 2.5vmin;
}

a:link, a:visited {
    color: black;
    text-align: center; 
    text-decoration: none;
    /*display: inline-block;*/
}


.competition-title{
	text-align: center;
	color: #72c02c;
	font-size: 2.5vmin;
}

.description-container{
	width: 60%;
	margin: auto;
}

.competition-description{
	padding: 2%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	text-justify: inter-word;
}

.competition-category{
	margin-left: 5%;
	margin-right: 5%;
	text-align: right;
	text-justify: inter-word;
	font-size: 2vmin;
}

.category{
	color: #72c02c;
	font-size: 2.5vmin;
}

.detail-container{
	width: 40%;
	margin: auto;
	text-align: right;
}

.date{
	color: #72c02c;
	font-size: 2vmin;
}

.competition-category-title{
	margin: auto;
	text-align: left;
	width: 30%;
	font-size: 3vmin;
}

.competition-details{
	padding: 2%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	text-justify: inter-word;
	font-size: 2vmin;	
}

.details{
	width: 50%;
	margin: auto;
	background-color: #ececec;
	padding: 2%;
	margin-top: 2%;
}

hr{
	background-color: white;
	height: 1px;
	border: 0;
}

#create{
	text-align: center;
}

#addCompetition{
	float: absolute;
}